@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{

color: white;
text-decoration: none;
font-size: 30px;
font-family: 'Oswald', sans-serif;


}
.logo:hover{
    color: white;
}
.item{
    text-decoration: none;
    color: white;
    font-size: 20px;
   padding: 0 30px; 
   font-family: 'Oswald', sans-serif;
}
.item:hover{
    color:#AA77FF;
    
}
.logoImg{
    border-radius: 60%;
    width: 100px;
    height: 100px;
    margin-right: 10px;

}

